/* common styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.primary-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.primary-details {
    color: #727272;
    line-height: 26px;
}

.common-header {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* header styles start */
.header {
    background-color: #fff4e7;
    padding: 50px 0;
}

/* navigation styles */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation-menu {
    display: flex;
    gap: 70px;
}

.navigation-menu li {
    list-style-type: none;
}

.navigation-menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles */
.banner-information {
    margin: 100px auto 50px;
    text-align: center;
    width: 75%;
}

.banner-header {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    padding: 30px 0;
}

.banner-image {
    width: 100%;
}

.banner-image img {
    width: 100%;
}
/* header styles end */

/* main styles start */
/* feature list styles start */
.features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 85px 25px 130px;
}

/* feature gallery styles */
.feature-gallery {
    flex-shrink: 0;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    /* grid-template-rows: repeat(2, 1fr); */
}

.feature-image {
    width: 100%;
}

.feature-image img {
    width: 100%;
}

/* feature info styles */
.feature-info {
    width: 40%;
}
.thin-header {
    font-weight: 500;
    color: #727272;
}

.orange-header {
    color: #FF900E;
}

.feature-details {
    padding: 25px 0 30px;
}
/* feature list styles end*/

/* favorite feature styles start*/
.favorite-feature {
    display: flex;
    gap: 140px;
    margin-bottom: 170px;
}

/* favorite feature info styles */
.favorite-feature-info {
    width: 40%;
    flex-shrink: 0;
}

.favorite-feature-header {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.favorite-feature-details {
    padding: 25px 0 30px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature-header {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-bottom: 10px;
}

/* favorite feature image styles */
.favorite-feature-image-container {
    width: 60%;
    position: relative;
}

.favorite-feature-image {
    width: 100%;
    height: 100%;
    background-image: url("../images/architect.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.big-btn {
    display: inline-block;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 42px 45px;
    position: absolute;
    bottom: -56px;
    left: -90px;
}

.big-btn-header {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.big-btn-small-text {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}
/* favorite feature styles end*/

/* some facts styles start */
/* some facts info styles */
.some-facts-info {
    width: 45%;
}

.some-facts-header {
    margin-bottom: 25px;
}

/* items */
.items {
    margin: 100px auto 180px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    grid-gap: 40px;
}

.item {
    padding: 45px 25px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item-header {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    padding: 10px 0;
}

.item-details {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.item:hover {
    background-color: #FF900E;
    border: none;
    transform: scale(1.05);
    box-shadow: 4px 8px 16px rgba(255,144,14,.4);
}
/* some facts styles end */

/* benefits styles start */
.benefits {
    display: flex;
    align-items: center;
    gap: 140px
}

/* benefits info styles */
.benefits-info {
    width: 40%;
}

.benefits-details {
    padding: 25px 0 30px;
}

/* benefits image styles */
.benefits-image {
    width: 60%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.benefits-image img {
    width: 100%;
    height: 100%;
}
/* benefits styles end */

/* sponsors styles start */
.sponsors {
    margin: 130px auto;
}

/* sponsors info styles */
.sponsors-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sponsor-details {
    padding: 25px 0 50px;
}

/* sponsors logo styles */
.sponsors-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    justify-content: space-between;
    grid-gap: 50px 100px;
}

.sponsors-logos img {
    width: 100%;
    filter: grayscale(1);
}
/* sponsors styles end */
/* main styles end */

/* footer styles start */
.footer {
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-text {
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding: 40px 0;
}
/* footer styles end */